//colores

.bg_color1
  background-color: #BDE2F5

.bg_color2
  background-color: #5D00F5

.bg_color3
  background-color: #F6F6F6

.bg_color4
  background-color: #F4FAFD

.bg_color5
  background-color: #6550F5

.bg_color6
  background-color: #4C4BF0

.bg_color7
  background-color: #EFEFFE

.bg_color8
  background-color: #EBF6FC
.bg_color8:hover
  background-color: #EDEBFD

.bg_color9
  background-color: #B6B6F9

.bg_color10
  background-color: #FFFFFF !important

.bg_color11
  background-color: #D8D3FD

.bg_color12
  background-color: #0F2771
  
.bg_color13
  background-color: #B9E0F5

.bg_color14
  background-color: #EDEAFE

.bg_color15
  background-color: #C4E9F9

  //tamaño imágenes

.img70
  max-width: 70px

.img85
  max-width: 85px

.img92
  max-width: 92px

.img290
  max-width: 290px
  position: absolute
  top: -34%
  right: 41%
  @media screen and ( max-width: 420px  )
    top: 25%
    right: 17%

.img300
  max-width: 300px

.img271
  max-width: 271px 
  @media screen and ( max-width: 992px )
    max-width: 140px
    margin-left: 30%

.img145
    max-width: 145px
    

//otros

hr:not([size]) 
    height: 3px
    border-color: #5D00F5
    width: 7%

.hr
  hr:not([size]) 
    height: 2px
    border-color: #5D00F5
    width: 50%

  //.hr_1
    hr:not([size]) 
      height: 2px
      border-color: #AFAFAF
      width: 100%


.tabs-b__tab__icon 
    width: 85px
  
.tabs-b__tab 
    background-color: #EAE7FE
    border-right: 3px solid #AFAFAF
    border-bottom: 0

.tabs-b__tab--active
    background-color: #ffffff

.tabs-b 
    border-bottom: 0

.bg_degrade_1
    background: linear-gradient(90deg, rgba(199,202,213,100) 0%, rgba(232,232,233,100) 100%)

.bg_fondo1
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 3rem
    left: 10%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img15.svg")
    background-repeat: no-repeat

.bg_fondo2
  position: relative
  tarjetas con número, tarjeta.color
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -4%
    width: calc(100% + 7rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img17.svg")
    background-repeat: no-repeat

.bg_fondo3
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 2rem
    left: -1%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img20.svg")
    background-repeat: no-repeat

.bg_fondo4
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 1rem
    left: 18%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img27.svg")
    background-repeat: no-repeat
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      left: 8%
    @media screen and ( max-width: 992px )
      background-size: cover
      left: -3%
      width: calc(100% + 2rem)

.bg_fondo5
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 1rem
    left: -4%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img40.svg")
    background-repeat: no-repeat

.bg_fondo6
  position: relative
  p, img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 1rem
    left: 0
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img58.svg")
    background-repeat: no-repeat

.bg_fondo7
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -4%
    width: calc(100% + 7rem)
    height: 100%
    background-image: url("../assets/curso/tema2/imgfondo1.svg")
    background-repeat: no-repeat

.bg_fondo8
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 0
    left: 20%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema2/img13.svg")
    background-repeat: no-repeat

.bg_fondo9
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -1rem
    top: -10px
    left: -4%
    width: calc(100% + 6rem)
    height: calc(100% + 3rem)
    background-image: url("../assets/curso/tema2/img14.svg")
    background-repeat: no-repeat
    background-size: cover

.bg_fondo10
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 41px
    left: 0
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema2/img20.svg")
    background-repeat: no-repeat
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      top: 25px

.bg_fondo11
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 34px
    left: 9%
    width: calc(100% + 7rem)
    height: 85%
    background-image: url("../assets/curso/tema2/img22.svg")
    background-repeat: no-repeat
    background-size: cover
    @media screen and ( max-width: 992px )
      top: -115px
      left: -21%
      height: 115%


.bg_fondo12
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -21px
    left: -11%
    width: calc(100% + 6rem)
    height: calc(100% + 3rem)
    background-image: url("../assets/curso/tema2/img25.svg")
    background-repeat: no-repeat
    background-size: cover
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      left: -13%

.bg_fondo13
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 52px
    left: 9%
    width: 100%
    height: 99%
    background-image: url("../assets/curso/tema2/img32.svg")
    background-repeat: no-repeat
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      top: 35px
      height: 70%
    @media screen and ( max-width: 992px )
      background-size: cover
      margin: 21px -2rem
      top: 8px

.bg_fondo14
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 67px
    left: -3%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema3/img03.svg")
    background-repeat: no-repeat
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      top: 33px

.bg_fondo15
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -4%
    width: calc(100% + 7rem)
    height: 100%
    background-image: url("../assets/curso/tema4/img02.svg")
    background-repeat: no-repeat

.bg_fondo16
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 10px -1rem
    top: 0rem
    left: 1%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/img25.svg")
    background-repeat: no-repeat
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      margin: 35px -1rem
      width: calc(100% + 1rem)
      top: -2rem
    @media screen and ( max-width: 992px )
      background-size: cover
      top: -8%
      left: -3%
      width: calc(100% + 5rem)
      height: 108%


.tarjeta-numerada.color-primario
    border-color: #43427D
    background-color: #FFFFFF
    @media screen and ( max-width: 992px )
      margin-left: 4rem

.tarjeta-numerada 
    border: solid 5px
    border-radius: 30px
    margin-left: 20px
    max-width: 232px
    max-height: 172px

.tarjeta-numerada.color-primario .tarjeta-numerada__numero 
    background-color: #4C4BF0

.tarjeta--azul 
    background-color: #EDEAFE

.acordion__accion__btn--b 
    border: 1px solid #AFAFAF
    background-color: #FDF268

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto   

.height_tarjavatar-b1-t1
  .tarjeta-avatar-b .tarjeta 
    height: 155px

.tarjeta-avatar-b .tarjeta 
    height: 150px
    margin-top: 12px
    @media screen and ( max-width: 992px )
      height: 315px

.height_tarjavatar-b2-t2
  .tarjeta-avatar-b .tarjeta 
    height: 120px!important

.tarjeta.color-acento-botones--borde 
    background-color: #E9EBF2
    border: 0
    border-radius: 10px

.tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #FCEE36

.tabs-a__tab 
    background-color: #E8E8E8

.tabs-a__tab__text
    color: black

.flex-center
  display: flex
  justify-content: center
  flex-direction: row

.justify-end
  display: flex
  justify-content: flex-end
  flex-direction: row

.align-items-end
  display: flex
  align-items: flex-end
  flex-direction: row

.slyder-a__tipo-a .slyder-a__bullets 
  bottom: 0px
  display: none

.slyder-a__tipo-a .slyder-a__btn--sigt
    right: -15px
    background-color: #F9F100
    width: 40px
    height: 40px

.slyder-a__tipo-a .slyder-a__btn--atrs
    left: -15px
    background-color: #F9F100
    width: 40px
    height: 40px

.tarjeta.color-acento-contenido 
    background: linear-gradient(0deg, rgba(209,213,226,100) 0%, rgba(235,235,238,100) 100%) 
    border-radius: 21px

.text-black
  @media screen and ( max-width: 420px  )
    color: $black 
    
.tarjeta.color-primario 
    background-color: #D1E4FA
    border-radius: 0

.tarjeta.color-primario *    
    color: #000

.tarjeta.color-acento-botones
    background-color: #D8D3FD
    
.tarjeta.color-acento-botones *
    color: #000

.position01
  position: absolute
  max-width: 280px
  right: 75.5%

.tarjeta-avatar .tarjeta
  display: block  

.cajon.color-secundario 
    background-color: #E3F3FB

.cajon.color-secundario:before
    background-color: #A2D0E8

.bloque-texto-g.color-secundario 
    background-color: #26A0DF

.bloque-texto-g.color-primario 
    background-color: #8B7CF7

.up
  z-index: 2  

.titulo-sexto.color-acento-contenido 
    border-left-color: #5D00F5

.cajon-b:before 
    right: 49%
    bottom: 79%

.cajon-b.color-primario:before 
    background-color: #EBEAF5

//.tarjeta.color-secundario 
//    background-color: #EDEAFE
//    height: 130px

.lista-ol--cuadro__vineta 
    background-color: #6451EB

.Lista_t1-2
  .lista-ol--cuadro__vineta 
    background-color: #51B3E5
    border-radius: 50px
    height: 50px
    width: 50px
    font-size: 30px
    @media screen and ( max-width: 992px )
      width: 74px

.width_num2
  width: 63px!important
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    width: 74px!important
  @media screen and ( max-width: 992px )
      width: 102px!important

.width_num3
  width: 95px!important
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    width: 109px!important
  @media screen and ( max-width: 992px )
      width: 160px!important

.lista-ol--separador li
    border-bottom: solid 2.5px #b0c0d2

.tarjeta-flip.color-secundario .tarjeta-flip__img 
    height: 350px
  
.tarjeta.color-secundario
    height: 350px
    border-radius: 20px

.tarjeta-flip__contenido
  background-color: #B9E0F5 !important

.bg_cajon
  background: linear-gradient(0deg, rgba(229,244,252,100) 0%, rgba(255,255,255,100) 100%) 
.pd-right
  padding-right: 20%
  @media screen and ( max-width: 420px  )
    padding-right: 1.5rem
    
.pd-left
  padding-left: 20%
  @media screen and ( max-width: 420px  )
    padding-left: 1.5rem

.m-top
  margin-top: 4rem
  @media screen and ( max-width: 420px  )
    margin-top: 3rem

.m-right
  margin-right: -2%
  @media screen and ( max-width: 420px  )
    margin-right: 0
    
.m-left
  margin-left: 8%
  @media screen and ( max-width: 420px  )
    margin-left: 0    
.m-bottom
  margin-bottom: 0
  @media screen and ( max-width: 420px  )
    margin-bottom: 76%

.bloque-texto-d.color-secundario:before 
    background-color: #F4F3FF

.bloque-texto-d i:last-of-type 
    margin-left: -25px

.bloque-texto-d i:first-of-type 
    margin-top: -35px

.m-right2
  margin-right: 115px

.bloque-texto-d:before 
    top: 24%
    bottom: 31px
    left: 25%

.border 
    border: 2px solid #8F85D0!important
    border-radius: 20px

.acordion__accion__btn--a 
    background-color: #EFE307

.cajon.color-primario 
    background-color: #DBD7FD

.cajon.color-primario:before 
    background-color: #6451EB

.tarjeta-numerada.color-secundario     
    border: solid 3px
    border-radius: 18px
    margin-left: 20px
    max-width: 389px
    border-color: #49498C

.tarjeta-numerada.color-secundario .tarjeta-numerada__numero 
    background-color: #49498C

.tarjeta-numerada.color-secundario .tarjeta-numerada__numero div 
    color: #FFFFFF

.flex-center-text
  align-items: center
  display: flex
  height: 100px
  justify-content: center

.img_centrado
    margin: 0
    width: 165%
    max-width: 200%
    margin-left: -94px
    margin-top: -54px
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
      width: 195%
      margin-top: -59px
    @media screen and ( max-width: 992px )
      width: 100%
      margin-left: -15px

.height_Slyder-t1-2 
  height: 284px!important

.lista-ul li > i:first-of-type
    top: 9px
    margin-right: 3px

.top_tarjavatar-t2
  top: 35px!important

.verticalLine 
  border-left: solid 2px #0F2440

.color_separador
    border-bottom: solid 2px #0F2440!important
  
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #191973 !important
      color: #FFFFFF
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background: linear-gradient(0deg, rgba(246,249,254,100) 0%, rgba(237,234,254,100) 100%) 


.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #191973
      color: #FFFFFF
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background: linear-gradient(0deg, rgba(246,249,254,100) 0%, rgba(237,234,254,100) 100%) 

.banner-interno__fondo
  background-image: url('../assets/curso/portada/banner-interno.png')!important
